<div class="contenedor text-aling-center">

   <div class="col-12">
      <div class="row">

         <div class="col-12 col-lg-7">
            <div class="contenedor_info">
               <div class="col-12">
                  <div class="row">
                     <div class="col-12">
                        <p class="titulo_logo">
                           Soy empresario y quiero ser parte de Dobleu
                        </p>
                     </div>
                  </div>

                  <div class="row mb-4">
                     <div id="container_video_company" class="col-12">
                        <iframe src="https://www.youtube.com/embed/OPfq9tCZE_I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                  </div>


                  <div class="row">
                     <div class="col-12">
                        <p class="titulo_beneficio">Beneficios para tu tienda, marca o negocio</p>
                     </div>

                     <div class="col-12">
                        <ul id="benefits_companies" class="list-group list-group-flush">
                           <li class="list-group-item">
                              <i class="fa fa-angle-right"></i>
                              Acceder a nuevos clientes
                           </li>

                           <li class="list-group-item">
                              <i class="fa fa-angle-right"></i>
                              Ofrecer tus productos y/o servicios publicitando tu marca en cualquier lugar del país
                           </li>

                           <li class="list-group-item">
                              <i class="fa fa-angle-right"></i>
                              Los usuarios tendrán descuentos del 10%, 20%, 30%, 40% y hasta el 50% en tus productos y/o servicios (En la categoría de Restaurantes y comidas rápidas podrán ganar hasta 100% de descuento). Solo deben descargar la APP, jugar, ganar descuentos, y aplicarlos en tus anuncios. (DOBLEU te desembolsa el dinero de los descuentos que los usuarios ganen)
                           </li>

                           <li class="list-group-item">
                              <i class="fa fa-angle-right"></i>
                              Podrás publicar anuncios de todos tus productos, con y sin descuentos
                           </li>

                           <li class="list-group-item">
                              <i class="fa fa-angle-right"></i>
                              Si publicas descuentos, los usuarios podrán aplicar sus puntos ganados sobre el valor de tus descuentos, es decir que automáticamente se incrementa el descuento. (Descuentos sobre Descuentos), sin costos adicionales para tu empresa o marca
                           </li>

                           <li class="list-group-item">
                              <i class="fa fa-angle-right"></i>
                              Todas la personas podrán descargar la APP y acceder a tus anuncios y descuentos de forma gratuita
                           </li>

                           <li class="list-group-item">
                              <i class="fa fa-angle-right"></i>
                              La aplicación Dobleu y los descuentos funcionarán en todo Colombia
                           </li>

                           <li class="list-group-item">
                              <i class="fa fa-angle-right"></i>
                              Dobleu te regala 7 días de prueba a partir del día del lanzamiento, para que los usuarios ganen descuentos y los apliquen en tus anuncios
                           </li>

                           <li class="list-group-item">
                              <i class="fa fa-angle-right"></i>
                              Dobleu realizará sorteos mensuales de los productos y servicios de las marcas registradas, sin costo para tu tienda o marca
                           </li>

                           <li class="list-group-item">
                              <i class="fa fa-angle-right"></i>
                              Dobleu es la forma mas divertida de ganar descuentos en las mejores marcas y tiendas del país, solo contestando preguntas de cultura general; ¡Dobleu premia el conocimiento
                           </li>
                        </ul>
                     </div>
                  </div>


                  <!--<div class="div_conten_beneficio">
                     <p class="titulo_beneficio">Beneficio para empresarios</p>
                     <p class="titulo_acceder">Acceder a nuevos clientes</p>Aura Henao
                     <p class="titulo_dobleu">Dobleu publicitarà tu marca mientras los clienets juegan y utilizan la app</p>
                     <p class="titulo_gestionar">Gestionar tus anuncios y ofrecer sus productos a un costo increible</p>
                     <p class="titulo_clientes">Los clientes tendran descuentos de tus productos acumulando puntos mientras contestan preguntas de cultura general</p>
                  </div>-->
               </div>
            </div>
         </div>

         <div class="col-12 col-lg-5">
            <div class="contenedor_formulario">
               <div id="triangle"></div>

               <p class="formulario">
                  Regístrate desde ya!
               </p>

               <div class="conten_form px-4 pt-4">
                  <div class="form-group">
                     <input type="number" [(ngModel)]="usuario.usuario_documento" class="form-control" placeholder="NIT o identificación">
                  </div>

                  <div class="form-group">
                     <input type="text" [(ngModel)]="usuario.usuario_nombre" class="form-control" placeholder="Razón social o nombre del establecimiento">
                  </div>

                  <div class="form-group">
                     <input type="email" [(ngModel)]="usuario.usuario_email" class="form-control" placeholder="Correo electrónico">
                  </div>

                  <div class="form-group">
                     <input type="text" class="form-control" [(ngModel)]="usuario.usuario_alias" placeholder="Usuario">
                  </div>

                  <div class="form-group">
                     <input type="password" class="form-control" [(ngModel)]="usuario.usuario_clave" placeholder="Contraseña">
                  </div>

                  <div class="form-group select-multiple">
                     <ng-multiselect-dropdown-angular7
                        placeholder="Seleccione una o varias categorías"
                        [required]="'Campo obligatorio'"
                        [data]="dropdownList"
                        [(ngModel)]="selectedItems"
                        [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)">
                     </ng-multiselect-dropdown-angular7>
                  </div>

                  <div class="form-group">
                     <div class="col-lg-12 p-0">
                        <div class="row">
                           <div class="col-9 pl-0">
                              <p class="acepto_terminos m-0">
                                 Acepto los <a href="#" class="cursor-pointer" data-toggle="modal" data-target="#modal_terms_and_conditions">términos y condiciones</a>
                              </p>
                           </div>

                           <div class="col-3 pr-0">
                              <div class="custom-control custom-switch">
                                 <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                 <label class="custom-control-label" for="customSwitch1"></label>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="form-group mt-4">
                        <div class="col-lg-12 text-center">
                           <button
                              type="button"
                              class="btn btn-lg  boton_captar"
                              (click)="mensajeAlertas()"
                              [disabled]="
                                 usuario.usuario_alias      === null || usuario.usuario_alias     === '' ||
                                 usuario.usuario_email      === null || usuario.usuario_email     === '' ||
                                 usuario.usuario_nombre     === null || usuario.usuario_nombre    === '' ||
                                 usuario.usuario_documento  === null || usuario.usuario_documento === '' ||
                                 usuario.usuario_clave      === null || usuario.usuario_clave     === '' ||
                                 selectedItems              === null || selectedItems.length      === 0
                              ">

                              REGISTRAR
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<!-- Modal terms and conditions -->
<div class="modal fade" id="modal_terms_and_conditions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close invisible">
               <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="modal-title" id="exampleModalLabel">TÉRMINOS Y CONDICIONES DE USO</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body text-justify px-4">
            <p class="text-muted">
               WORLD OF INNOVATIVE DEVELOPMENT S.A.S. (WOID S.A.S), es una sociedad por acciones simplificada, dedicada al desarrollo de aplicaciones web, de escritorio y móviles con el fin de mejorar procesos empresariales a través de los sistemas y la tecnología. WOID S.A.S está constituida de conformidad con las leyes colombianas, identificada con NIT: 901336846-5, con domicilio en la ciudad de Palmira - Valle y bajo los presentes Términos y Condiciones es creador de la plataforma Dobleu W. para contactarse directamente con la compañía podrá hacerlo a través del correo woid.empresa@gmail.com
            </p>

            <p class="text-muted">
               Este documento establece los Términos y condiciones de uso de la aplicación Dobleu W bajo los cuales los usuarios de la plataforma se comprometen a buen uso en el marco que la legislación colombiana establece.
            </p>

            <p class="text-muted">
               Antes de registrarse y hacer uso de la aplicación se requiere que el usuario, lea estos Términos y Condiciones de Uso cuidadosamente, y dé el respectivo consentimiento expreso acerca de su compresión y aprobación. Al registrarse está aceptando voluntariamente los términos y condiciones de uso. El desconocimiento del contenido de este documento no justifica el incumplimiento de este, y mucho menos, faculta a los usuarios para tomar medidas particulares o legales que desconozcan lo planteado en estos términos.
            </p>

            <ul class="text-muted">
               <li>
                  La eliminación del registro
               </li>

               <li>
                  Informar a las autoridades pertinentes sobre situaciones en las que puedan existir riesgos sobre la integridad de menores de edad y de usuarios en general
               </li>
            </ul>


            <br />


            <h5>DEFINICIONES</h5>

            <p class="text-muted">
               Consumidores: Persona natural que use la plataforma con el fin de visualizar anuncios, jugar en la plataforma, ganar descuentos, participar en sorteos y a su vez adquirir productos o servicios.
            </p>

            <p class="text-muted">
               Oferente, Empresa o Sucursal: Persona jurídica y/o persona natural que ofrece sus productos o servicios a través de la Plataforma por medio de anuncios que pueden incluir o no descuentos. El Oferente es responsable de sus anuncios en la aplicación.
            </p>

            <p class="text-muted">
               Operador: Encargado de administrar la Plataforma Dobleu, representado para los efectos de los presentes términos o la persona que este designe.
            </p>

            <p class="text-muted">
               Datos personales: Es toda información que permite identificar o hacer identificable a una persona física.
            </p>

            <p class="text-muted">
               Descuentos: porcentaje que ganan los consumidores en la plataforma por responder preguntas de cultura general. Y este será cancelado a el ofertante, empresa o sucursal.
            </p>

            <p class="text-muted">
               Anuncios: Productos o servicios que ofrecen las empresas en la aplicación Dobleu para que sea visualizado por los consumidores y a su vez apliquen los puntos ganados.
            </p>

            <p class="text-muted">
               Mayor de edad: Persona natural mayor de dieciocho (18) años.
            </p>

            <p class="text-muted">
               Portal de pagos: Servicio que permite la realización de pagos por parte de los Oferentes al Operador y del mismo modo Operador a Oferentes, a través de medios electrónicos utilizando plataformas tecnológicas.
            </p>

            <p class="text-muted">
               Plataforma o Aplicación: Aplicativo web y móvil administrado por el OPERADOR, que permite la concurrencia de Consumidores y Oferentes.
            </p>

            <p class="text-muted">
               Publicidad: Es toda forma de comunicación realizada por el OPERADOR, con el fin de brindar información sobre productos, actividades comerciales y comunicar estrategias o campañas publicitarias o de mercadeo, propias o de terceros; realizada como mecanismo de referencia y no como oferta pública.
            </p>

            <p class="text-muted">
               Código: imagen o cifrado que genera la plataforma a los consumidores cuando aplican sus puntos en algún producto o servicio. Del mismo modo la plataforma ofrece a los oferentes poder leer el código a través de esta.
            </p>

            <p class="text-muted">
               Reembolso: hace referencia al reembolso de los descuentos que ganaron los consumidores o usuarios y que se hará a través de los medios de pago indicados por las empresas o sucursales.
            </p>


            <br />


            <h5>ACERCA DE DOBLEU</h5>

            <p class="text-muted">
               Dobleu es una aplicación móvil y web de anuncios creada por WOID S.A.S. donde los establecimientos de comercio podrán ofrecer sus productos y/o servicios de las diferentes categorías (restaurantes y comidas rápidas, moda y glamour, transporte, salud y deporte, estética, hogar, educación, juguetería, entre otras.) dichos anuncios podrán ser publicados con o sin descuentos y permite a los consumidores tener acceso a la información de manera gratuita, jugar para adquirir descuentos, aumentar los descuentos publicitados (teniendo descuentos sobre descuentos) y participar en diferentes sorteos mensuales de los productos de la marcas o tiendas registradas.
            </p>

            <p class="text-muted">
               Aunque proporcionemos información sobre precios, descuentos y otros lineamientos adicionales en la plataforma, tales lineamientos son meramente informativos y puedes optar por seguirlos o no. Además, no garantizamos, ni tenemos control sobre la existencia, calidad, seguridad o legalidad de los artículos publicados; la veracidad o precisión de las listas de anuncios o del contenido de los usuarios es neta responsabilidad del anunciante al igual que finalización de una transacción o la devolución de un artículo por parte de un comprador o vendedor. el medio de contacto es a través de la misma aplicación o el correo electrónico dobleu.woid@gmail.com
            </p>


            <br />


            <h5>USO DE DOBLEU</h5>

            <p class="text-muted">
               En relación con el uso o acceso a los servicios está prohibido:
            </p>

            <ul class="text-muted">
               <li>
                  Publicar, anunciar o cargar contenido o artículos en categorías o áreas inadecuadas en nuestros sitios;
               </li>

               <li>
                  Infringir o evadir leyes, derechos de terceros, o nuestros sistemas, políticas o determinaciones del estado de tu cuenta en la aplicación;
               </li>

               <li>
                  Manipular el precio de cualquier artículo cuando este ya ha sido tomado por algún usuario o interferir con los anuncios de ningún otro usuario;
               </li>

               <li>
                  Publicar contenido falso, engañoso, inexacto, erróneo, difamatorio o calumnioso;
               </li>

               <li>
                  Distribuir o publicar spam, comunicaciones electrónicas no solicitadas o masivas, cadenas de mensajes o esquemas piramidales;
               </li>

               <li>
                  Distribuir virus u otras tecnologías que puedan perjudicarnos o perjudicar los intereses o la propiedad de los usuarios;
               </li>

               <li>
                  utilizar robots, arañas web, scrapers, herramientas de minado de datos, o herramientas para obtener o extraer información, u otros medios automatizados para obtener acceso a nuestros Servicios por cualquier motivo;
               </li>

               <li>
                  Los vendedores deben cumplir con nuestros estándares de desempeño mínimo. El incumplimiento de estos estándares puede ocasionar que te que limitemos, restrinjamos, suspendamos o bajemos tu subscripción.
               </li>
            </ul>


            <p class="text-muted">
               Si consideramos que, de cualquier manera, haces un mal uso de Dobleu, tendremos derecho, a nuestra entera discreción y sin perjuicio de otros recursos, a limitar, suspender o cancelar tu cuenta o tus cuentas de usuario y el acceso a nuestros Servicios, retrasar o retirar los contenidos, remover cualquier estatus especial asociado a tu cuenta o tus cuentas, eliminar, no mostrar y tomar medidas técnicas y/o legales para impedir que utilices nuestros Servicios.
            </p>

            <p class="text-muted">
               Si consideramos que estas violando la política referida a Ofertas en Dobleu, podrías estar sujeto a un rango de acciones, incluyendo restricciones en anuncios y en características de tu cuenta, suspensión de tu cuenta, aplicación de penalidades y cargos.
            </p>

            <p class="text-muted">
               Nos reservamos el derecho, a nuestra discreción, de rechazar o cancelar los Servicios, total o parcialmente, a cualquier persona por cualquier razón.
            </p>


            <br />


            <h5>PROCEDIMIENTO</h5>

            <p class="text-muted">
               Los Oferentes se registran a través de nuestra plataforma web o móvil, indicando que son empresa y proceden a registrar las sucursales que deseen. Al registrar las sucursales, deben completar los datos indicando un usuario, clave y ubicación. Una vez registradas las sucursales, ya podrán iniciar sesión en la aplicación y proceder a registrar cada una los productos o servicios que quieren ofrecer a los usuarios o consumidores.
            </p>

            <p class="text-muted">
               Los consumidores podrán registrarse en la plataforma, descargado la aplicación móvil e iniciando sesión, una vez registrados podrán visualizar los anuncios con los productos de las sucursales. En la opción Jugar los consumidores responden preguntas de cultura general con las que irán sumando puntos hasta alcanzar niveles de descuentos. Cada pregunta correcta suma 10 puntos y cada pregunta incorrecta resta 10 puntos. Descuentos de 10%, 20%, 30%, 40 y hasta 50%.
            </p>


            <br />


            <h5>TABLA DE PUNTOS</h5>

            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th scope="col" class="text-center">PUNTOS</th>
                     <th scope="col" class="text-center">DESCUENTOS</th>
                  </tr>
               </thead>

               <tbody>
                  <tr>
                     <td>2000 pts.</td>
                     <td>10%</td>
                  </tr>

                  <tr>
                     <td>4000 pts.</td>
                     <td>20%</td>
                  </tr>

                  <tr>
                     <td>6000 pts.</td>
                     <td>30%</td>
                  </tr>

                  <tr>
                     <td>8000 pts.</td>
                     <td>40%</td>
                  </tr>

                  <tr>
                     <td>10000 pts.</td>
                     <td>50%</td>
                  </tr>
               </tbody>
            </table>

            <p class="text-muted">
               Una vez alcanzados los puntos anteriores, los consumidores harán uso de ellos buscando el producto o la sucursal que deseen.
            </p>


            <br />


            <h5>SORTEOS</h5>

            <p class="text-muted">
               Dobleu realizará unos sorteos mensuales para los consumidores o usuarios, de acuerdo con los puntos alcanzado; Deben ingresar a el módulo de sorteos para participar.
            </p>


            <br />


            <h5>APLICACIÓN DE POLÍTICAS</h5>


            <h6>Privacidad</h6>

            <p class="text-muted">
               Al registrarte en Dobleu, nos estas confiando tus datos; sabemos que debemos proteger tu información y hacemos uso responsable de ellos.
            </p>

            <p class="text-muted">
               La información obtenida no será utilizada para fines comerciales y garantizamos que puedas actualizarlos, gestionarlos y eliminarlos.
            </p>

            <p class="text-muted">
               Si surge un problema con un comprador o vendedor, podremos considerar el historial de desempeño del usuario y las circunstancias específicas al aplicar nuestras políticas. En un esfuerzo por hacer lo que sea mejor para el comprador y el vendedor, nos reservamos la posibilidad de ser permisivos con la aplicación de nuestras políticas.
            </p>

            <p class="text-muted">
               La aplicación necesita acceso a la cámara del dispositivo realizar para escanear el código QR de los descuentos en el caso de las empresas; Dobleu garantiza que al habilitar y dar permiso para la función, esta será única y exclusivamente para dicho uso.
            </p>


            <br />


            <h6>Tarifas e impuestos</h6>

            <p class="text-muted">
               Para los usuarios compradores o clientes, la descarga y uso de la aplicación será gratuito.
            </p>

            <p class="text-muted">
               Las tarifas que cobramos por el uso de nuestros servicios a los establecimientos de comercio están en Tarifas para establecimientos comerciales o sucursales. Nos reservamos el derecho de modificar nuestras tarifas, los cambios en nuestro sitio web serán publicados con 30 días de anticipación.  No se requerirá previo aviso para promociones temporales o para cualquier modificación que resulte en la reducción de tarifas.
            </p>

            <p class="text-muted">
               Cuando te registras como empresa e inscribes tus sucursales en Dobleu, debes tener un método de pago de los disponibles en la aplicación y pagar todas las tarifas antes de la fecha de vencimiento del pago. (Al registrarse por primera vez, las empresas tendrán 7 días de suscripción gratuita).
            </p>

            <p class="text-muted">
               Podemos mostrar anuncios de terceros (incluidos enlaces y referencias a los mismos) u otro contenido en la parte del juego de nuestra aplicación, a nuestra completa discreción y sin el consentimiento de los vendedores o pago, reducción de tarifas, u otro crédito a estos.
            </p>


            <br />


            <h6>Tarifas para establecimientos comerciales o sucursales</h6>

            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th scope="col" class="text-center">PLAN</th>
                     <th scope="col" class="text-center">MENSUAL</th>
                     <th scope="col" class="text-center">ANUAL</th>
                  </tr>
               </thead>

               <tbody>
                  <tr>
                     <td>Cada Sucursal Registrada</td>
                     <td>$69.900 (incluye 40 anuncios)</td>
                     <td>$749.900 (550 anuncios)</td>
                  </tr>

                  <tr>
                     <td>Anuncios Adicionales</td>
                     <td>$900 (Por cada uno)</td>
                     <td></td>
                  </tr>
               </tbody>
            </table>


            <br />


            <h6>Condiciones para publicitar anuncios</h6>

            <p class="text-muted">
               Cuando ofreces productos o artículos, aceptas cumplir con nuestras Políticas de Publicación de Anuncios y que:
            </p>

            <ul class="text-muted">
               <li>Eres responsable de la exactitud y del contenido de todas tus listas de anuncios y productos ofrecidos para la venta</li>
               <li>El contenido que infrinja cualquiera de nuestras políticas puede ser modificado, o eliminado a nuestra discreción</li>
            </ul>


            <br />


            <h6>Condiciones para Comprar Artículos</h6>

            <p class="text-muted">
               Al comprar un artículo, aceptas las Reglas para Compradores y aceptas que:
            </p>

            <ul class="text-muted">
               <li>Eres responsable de leer todo el anuncio del artículo antes de aplicar tus puntos o descuentos ganados.</li>
               <li>Entras en un contrato legalmente vinculante para comprar un artículo cuando adquieres tu código. (Que no es obligatorio adquirir, ni tiene devolución de puntos)</li>
               <li>Nosotros no transferimos la propiedad legal de los artículos del vendedor al comprador.</li>
            </ul>


            <br />


            <h6>Contenido</h6>

            <p class="text-muted">
               Al publicar información en Dobleu, declaras y garantizas que, para todo aquel contenido que proporciones, eres propietario o de alguna otra manera tienes el control necesario sobre sus derechos para hacerlo y cumplir con las obligaciones establecidas en estos Términos y Condiciones de Uso al igual que las políticas de privacidad. Declaras y garantizas que dicho contenido es correcto. Declaras y garantizas en cumplimiento de estos Términos y Condiciones de Uso, que no infringe ni infringirá Derechos de Propiedad Intelectual de terceros. Dobleu no será responsable ni asumirá responsabilidad de aquel contenido proporcionado por ti o por cualquier tercero.
            </p>

            <p class="text-muted">
               Los Ofertantes deben ofrecer datos de producto confiables, pero Dobleu no puede prometer que el contenido que se proporciona a través de los anuncios estará siempre disponible, será preciso, completo y actualizado. Por la presente aceptas que Dobleu no será responsable de examinar o garantizar los anuncios o el contenido proporcionados por terceras personas a través de la plataforma, por lo que no intentarás responsabilizarnos por daños derivados de inexactitudes, ni a nosotros ni a los proveedores de datos. Como vendedor, aceptas que el contenido directamente asociado con tus avisos es preciso.
            </p>


            <br />


            <h6>Autorización para Contactarte</h6>

            <p class="text-muted">
               Podemos contactarte usando llamadas de marcación automática o pregrabada y mensajes de texto, a cualquier número telefónico que nos hayas proporcionado para:
            </p>

            <ul class="text-muted">
               <li>notificarte en relación con tu cuenta</li>
               <li>resolver problemas con tu cuenta</li>
               <li>resolver una disputa</li>
               <li>cobrar una deuda</li>
               <li>Confirmar el pago de los descuentos realizados</li>
               <li>sondear tus opiniones a través de encuestas o cuestionarios.</li>
            </ul>


            <br />


            <h6>Reembolsos de descuentos a las empresas.</h6>

            <p class="text-muted">
               Dobleu proporcionará una fecha para el pago puntual de tu subscripción mensual, al igual que la transacción o pago que debe hacerte Dobleu por los descuentos que ganaron tus clientes. Toda vez que se genere la factura donde el usuario adquirió un descuento ganado con el juego en la aplicación móvil, Dobleu debe retribuir ese dinero al oferente y realizarla la respectiva notificación a través de los medios de contacto proporcionados a Dobleu.
            </p>
         </div>
      </div>
   </div>
</div>
