@import url('https://fonts.googleapis.com/css?family=Alice&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap&subset=latin-ext');

.contenedor {
   .contenedor_info {
      background-color: white;
      max-height: calc(100vh - 120px);
      overflow: auto;

      .titulo_logo {
         font-size: 25px;
         text-align: center;
         color: orange;
         font-family: 'Bree Serif', serif;
      }


      #benefits_companies {
         .list-group-item {
            display: flex;
            align-items: center;
            padding-left: 15px;


            i {
               font-size: 20px;
               font-weight: bold;
               margin-right: 15px;
            }
         }
      }
   }

   .logo_principal {
      width: 90px;
      padding: 1px;
   }

   .div_video {
      background-color: grey;
      padding: 3%;
      border: green solid 1px;
   }

   .titulo_beneficio {
      font-size: 25px;
      text-align: left;
      color: #ffa500;
      font-family: "Bree Serif", serif;
      margin-bottom: 0;
   }
}


#container_video_company iframe {
   width: 100% !important;
   height: 310px !important;
}


.contenedor_formulario {
   background-color: #3ad0bf;
   padding: 20px;
   //  border-left: 100px solid #428bca;
   //  border-top: 50px solid #f0ad4e;
   //  border-bottom: 50px solid #d9534f;
   .formulario {
      color: white;
      font-family: 'Bree Serif', serif;

   }

   .formulario {
      text-align: center;
      font-size: 25px;
   }

   .conten_form {
      text-align: center;
   }

   .boton_captar {
      background-color: white;
      color: #4bb5ab;
      padding-top: 5px;
   }


   #triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 0 40px 40px;
      border-color: transparent transparent transparent #FFFFFF;
      position: absolute;
      left: 0;
      top: 0;
   }
}

.titulo_acceder {
   font-size: 17px;
   font-family: 'Alice', serif;
   opacity: 0.5;
   font-weight: bold;

}

.titulo_dobleu {
   font-size: 17px;
   font-family: 'Alice', serif;
   font-weight: bold;
   opacity: 0.5;
}

.titulo_gestionar {
   font-size: 17px;
   font-family: 'Alice', serif;
   font-weight: bold;
   opacity: 0.5;
}

.titulo_clientes {
   font-size: 17px;
   font-family: 'Alice', serif;
   font-weight: bold;
   opacity: 0.5;
}

.acepto_terminos {
   font-family: 'Bree Serif', serif;
   opacity: 0.6;

}
