<div class="contenedor text-aling-center">
   <div class="col-12">
      <div class="row">
         <div class="col-12 col-lg-12">
            <div class="contenedor_formulario">
               <div class="row mb-4 px-3">
                  <div class="col-4"></div>

                  <div class="col-4">
                     <p class="titulo_logo text-center m-0">
                        Listado de sucursales
                     </p>
                  </div>

                  <div class="col-4 text-right d-flex align-items-center justify-content-end">
                     <button class="btn btn-sm btn-primary" routerLink="/sucursal">
                        <i class="fa fa-plus mr-1"></i>
                        CREAR SUCURSAL
                     </button>
                  </div>
               </div>



               <div class="conten_form">
                  <div class="table-responsive-sm">
                     <table class="table table-striped">
                        <thead>
                           <th class="text-left">Nombre</th>
                           <th class="text-left">Usuario</th>
                           <th class="text-left">Ubicación</th>
                           <th class="text-left">Estado</th>
                           <th width="180">Acción</th>
                        </thead>

                        <tbody *ngFor="let sucursal of listarSucursales">
                           <td class="text-left">{{ sucursal.sucursal_nombre }} </td>
                           <td class="text-left">{{ sucursal.sucursal_usuario }} </td>
                           <td class="text-left">{{ sucursal.sucursal_ubicacion }} </td>
                           <td class="text-left">{{ sucursal.sucursal_estado }} </td>
                           <td width="180">
                              <div class="row">
                                 <div class="col-6 pr-1">
                                    <button class="btn btn-danger btn-block btn-sm" title="Eliminar sucursal">
                                       <i class="fa fa-trash"></i>
                                    </button>
                                 </div>

                                 <div class="col-6 pl-1">
                                    <button class="btn btn-info btn-block btn-sm" title="Editar sucursal" routerLink="/sucursal/{{sucursal.sucursal_codigo}}">
                                       <i class="fa fa-edit"></i>
                                    </button>
                                 </div>
                              </div>
                           </td>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
