<nav class="navbar navbar-expand-lg navbar-light bg-transparent my-4">
   <a class="navbar-brand d-flex justify-content-center align-items-baseline" href="#">
      <span>Dobleu</span>
      <img src="/assets/logo/logo-w.png" width="30" height="30" alt="">
   </a>

   <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item mx-3" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Inicio</a>
         </li>

         <li class="nav-item mx-3" routerLinkActive="active" *ngIf="!userData">
            <a class="nav-link" routerLink="/register">Registrarse</a>

         </li>

         <li class="nav-item mr-3" routerLinkActive="active" *ngIf="local && local.usuario_tipo === 'Empresa'" >
            <a class="nav-link" routerLink="/listar-sucursales">Sucursales</a>
         </li>

         <li class="nav-item mr-3" routerLinkActive="active" *ngIf="userData">
            <a class="nav-link" routerLink="/listar-anuncio">Anuncios</a>
         </li>

         <li class="nav-item mr-3" routerLinkActive="active" *ngIf="false">
            <a class="nav-link" routerLink="/download">Descargar</a>
         </li>

         <li class="nav-item mr-3 cursor-pointer" routerLinkActive="active" data-toggle="modal" data-target="#modal_contact">
            <a class="nav-link">Contáctanos</a>
         </li>

         <li class="nav-item mr-3" routerLinkActive="active" *ngIf="local && local.usuario_tipo === 'Empresa'">
            <a class="nav-link" routerLink="/usuario">Usuarios</a>
         </li>

         <li class="nav-item mr-3 cursor-pointer" data-toggle="modal" data-target="#exampleModal" *ngIf="!userData">
            <a class="nav-link">Iniciar sesión</a>
         </li>

         <li class="nav-item mr-3 cursor-pointer" *ngIf="userData" (click)="logOut()">
            <a class="nav-link">Cerrar sesión</a>
         </li>
      </ul>
   </div>
</nav>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header border-bottom-0">
            <button type="button" class="close py-2 pr-3 border-bottom-0" data-dismiss="modal" aria-label="Close" #form_login_close_modal>
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body pt-0 px-4">
            <div class="row mb-3">
               <div class="col-12 text-center">
                  <h3 class="global-title-style">Iniciar sesión</h3>
               </div>
            </div>


            <div class="row mb-3">
               <div class="col-12">
                  <div class="form-group">
                     <div class="input-group">
                        <div class="input-group-prepend">
                           <span class="input-group-text">
                              <i class="fa fa-user"></i>
                           </span>
                        </div>

                        <input
                           #form_login_input_email
                           type="email"
                           class="form-control"
                           placeholder="Correo electrónico / Usuario"
                           [(ngModel)]="user.usuario_email"
                        />
                     </div>
                  </div>
               </div>

               <div class="col-12">
                  <div class="form-group mb-0">
                     <div class="input-group">
                        <div class="input-group-prepend">
                           <span class="input-group-text">
                              <i class="fa fa-key"></i>
                           </span>
                        </div>

                        <input
                           type="password"
                           class="form-control"
                           placeholder="Contraseña"
                           [(ngModel)]="user.usuario_clave"
                        />
                     </div>
                  </div>
               </div>

               <div class="col-12 mb-2">
                  <div class="text-danger text-center" *ngIf="showIncorrectCredentials">
                     <small>El nombre de usuario o contraseña son incorrectos</small>
                  </div>
               </div>
            </div>


            <div class="row">
               <div class="col-12">
                  <button
                     class="btn btn-block btn-log-in"
                     (click)="loginNormal()"
                     [disabled]="
                        !user.usuario_email || user.usuario_email === '' ||
                        !user.usuario_clave || user.usuario_clave === ''
                     ">

                     <i class="fa fa-sign-in-alt"></i>
                     <span>Iniciar Sesion</span>
                  </button>
               </div>

               <div id="container_or" class="col-12 p-3" *ngIf="false">
                  <hr />
                  <span class="ion-text-center ion-no-margin">O</span>
               </div>

               <div class="col-12" *ngIf="false">
                  <div class="row">
                     <div class="col-6">
                        <button class="btn btn-block btn-google">
                           <i class="fa fa-google mr-1"></i>
                           Google
                        </button>
                     </div>

                     <div class="col-6">
                        <button class="btn btn-block btn-facebook">
                           <i class="fa fa-facebook-f mr-1"></i>
                           Facebook
                        </button>
                     </div>
                  </div>
               </div>
            </div>


            <div class="row mt-4 mb-3">
               <div class="col-12 text-center">
                  <a id="link_remember_password" routerLink="/recuperarclave" class="ion-no-margin">¿Olvidaste tu contraseña?</a>
               </div>
            </div>
         </div>

         <div class="modal-footer-customize p-4">
            <div class="row mb-4">
               <div class="col-12 text-center">
                  <span>¿Aún no tienes cuenta en Dobleu?</span>
               </div>
            </div>

            <div class="row">
               <div class="col-12 text-center">
                  <button class="btn btn-block btn-sign-in" routerLink="/" data-dismiss="modal">Regístrate</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<!-- Modal contact -->
<div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="modal_contact" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header border-bottom-0">
            <button type="button" class="close py-2 pr-3 border-bottom-0" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body pt-0 px-4">
            <div class="row mb-3">
               <div class="col-12 text-center">
                  <h3 class="global-title-style">Contacto</h3>
               </div>
            </div>


            <div class="row">
               <div class="col-12">
                  <div class="form-group">
                     <label for="form_contact_name">Nombre</label>

                     <input
                        id="form_contact_name"
                        type="text"
                        class="form-control"
                        placeholder="Ingresa tu nombre"
                        [(ngModel)]="contactForm.contacto_titulo"
                     />
                  </div>
               </div>


               <div class="col-12">
                  <div class="form-group">
                     <label for="form_contact_email">Correo electrónico</label>

                     <input
                        id="form_contact_email"
                        type="email"
                        class="form-control"
                        placeholder="Ingresa tu correo electrónico"
                        [email]="true"
                        [(ngModel)]="contactForm.contacto_email"
                     />
                  </div>
               </div>


               <div class="col-12">
                  <div class="form-group">
                     <label for="form_contact_comment">Comentarios</label>

                     <textarea
                        id="form_contact_comment"
                        class="form-control"
                        rows="3"
                        placeholder="Ingresa tus comentarios"
                        [(ngModel)]="contactForm.contacto_contenido">
                     </textarea>
                  </div>
               </div>
            </div>
         </div>

         <div class="modal-footer-customize p-4">
            <div class="row">
               <div class="col-12 text-center">
                  <button
                     class="btn btn-block btn-log-in"
                     data-dismiss="modal"
                     (click)="saveContactForm()"
                     [disabled]="
                        contactForm.contacto_titulo === null || contactForm.contacto_titulo === '' ||
                        contactForm.contacto_email === null || contactForm.contacto_email === '' ||
                        contactForm.contacto_contenido === null || contactForm.contacto_contenido === ''
                     ">

                     Enviar
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<div class="alert alert-{{ alertParameters['type_alert'] }} fade show" *ngIf="alertParameters['show']" role="alert">
   {{ alertParameters['message'] }}

   <button type="button" class="close ml-3" (click)="alertParameters['show'] = false">
      <span aria-hidden="true">&times;</span>
   </button>
</div>
