.navbar-brand span {
   // color: #424040 !important;
   background: -webkit-linear-gradient(90deg, #4bb5ab 25%, #FF965C 50%, #28a7ef 75%);
   background: -o-linear-gradient(90deg, #4bb5ab 25%, #FF965C 50%, #28a7ef 75%);
   background: -moz-linear-gradient(90deg, #4bb5ab 25%, #FF965C 50%, #28a7ef 75%);
   background: linear-gradient(90deg, #4bb5ab 25%, #FF965C 50%, #28a7ef 75%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

   font-size: 30px;
   font-family: "Great Vibes", cursive;
   margin-right: 10px;
}


#exampleModal .modal-dialog {
   max-width: 400px !important;
}


#container_or {
   display: flex;
   justify-content: center;
   align-items: center;


   hr {
      height: 1px;
      border-width: 0;
      box-sizing: content-box;
      border-bottom: 1px solid #d4d3d7;
      position: absolute;
      width: 50%;
      left: 25%;
      margin: 0;
   }

   span {
      position: relative;
      padding: 0 5px;
      background-color: white;
      color: #989aa2;
   }
}


.btn-log-in {
   background-color: #fb8126;
   color: #FFFFFF;
}

.btn-google {
   background-color: #ea4335;
   color: #FFFFFF;
}

.btn-facebook {
   background-color: #3b5998;
   color: #FFFFFF;
}

.btn-sign-in {
   background-color: #FFFFFF;
   border-color: #047ABF;
   color: #047ABF;
}


.modal-footer-customize {
   background-color: #F6F6F6;
}



#form_contact_comment {
   resize: none;
}



.alert {
   position: absolute;
   top: 120px;
   right: 30px;
   z-index: 1000;
}
