<div class="contenedor text-aling-center">
   <div class="col-12">
      <div class="row">
         <div class="col-12 col-lg-12">
            <div class="contenedor_formulario">
               <div class="row mb-4 px-3">
                  <div class="col-3 text-right d-flex align-items-center justify-content-start">
                     <button class="btn btn-sm btn-secondary" routerLink="/listar-anuncio">
                        <i class="fa fa-arrow-left mr-1"></i>
                        VOLVER
                     </button>
                  </div>

                  <div class="col-6">
                     <p class="titulo_logo text-center mb-0" *ngIf="crearAnuncio.producto_nombre">
                        Actualizar datos de este anuncio
                     </p>

                     <p class="titulo_logo text-center mb-0" *ngIf="!crearAnuncio.producto_nombre">
                        Datos del nuevo anuncio
                     </p>
                  </div>

                  <div class="col-3"></div>
               </div>


               <div class="text-center">
                  <input
                     type="file"
                     id="upload-avatar"
                     (change)="subirFotos($event)"
                     required
                     accept=".png, .jpg, .jpeg"
                     style="display: none"
                  />

                  <div class="my-4 d-flex justify-content-center align-items-center flex-column">
                     <img
                        *ngIf="crearAnuncio.producto_imagen"
                        class="mostrar_img_perfil cursor-pointer"
                        [src]="crearAnuncio.producto_imagen"
                        alt=""
                        (click)="uploadAvatar()"
                        title="Da click para cambiar la imagen del anuncio"
                     />

                     <p class="m-0" (click)="uploadAvatar()" *ngIf="!crearAnuncio.producto_imagen">
                        <i class="fa fa-image cursor-pointer" style="font-size: 50px; color: #495057;"></i>
                     </p>

                     <small class="text-muted cursor-pointer mt-1" (click)="uploadAvatar()">Da click para cambiar la imagen del anuncio</small>
                  </div>

               </div>

               <!--
               <a routerLink="/listar-anuncio">
                  <p *ngIf="crearAnuncio.producto_nombre" class="titulo_logo">
                     Actualizar datos de este anuncio
                  </p>

                  <p *ngIf="!crearAnuncio.producto_nombre" class="titulo_logo">
                     Datos del nuevo anuncio
                  </p>
               </a>


               <div class="text-center">
                  <input
                     type="file"
                     id="upload-avatar"
                     (change)="subirFotos($event)"
                     required
                     accept=".png, .jpg, .jpeg"
                     style="display: none"
                  />

                  <div>
                     <img
                        *ngIf="crearAnuncio.producto_imagen"
                        class="mostrar_img_perfil cursor-pointer"
                        [src]="crearAnuncio.producto_imagen"
                        alt=""
                        (click)="uploadAvatar()"
                        title="Da click para cambiar la imagen del anuncio"
                     />

                     <br/><br/>

                     <p class="small lead" (click)="uploadAvatar()" *ngIf="!crearAnuncio.producto_imagen">
                        <i class="fa fa-upload cursor-pointer" style="font-size: 50px; color: #495057;"></i>
                     </p>
                  </div>
               </div>
               -->


               <div class="conten_form">

                  <div class="row">
                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-edit"></i>
                                 </span>
                              </div>

                              <input [(ngModel)]="crearAnuncio.producto_nombre" type="text" class="form-control" placeholder="Anuncio" />
                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-comment"></i>
                                            </span>
                              </div>

                              <input [(ngModel)]="crearAnuncio.producto_descripcion"
                                     type="text" class="form-control"
                                     placeholder="Descripción / Slogan"/>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-dollar"></i>
                                 </span>
                              </div>

                              <input
                                 [(ngModel)]="crearAnuncio.producto_precioantes"
                                 type="number"
                                 class="form-control"
                                 placeholder="Valor anuncio"
                              />
                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-percent"></i>
                                 </span>
                              </div>

                              <input
                                 [(ngModel)]="crearAnuncio.producto_descuento"
                                 type="number"
                                 class="form-control"
                                 placeholder="Porcentaje descuento"
                              />
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">

                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-toggle-on"></i>
                                 </span>
                              </div>

                              <select [(ngModel)]="crearAnuncio.producto_activo" class="custom-select">
                                 <option value=''>Seleccione el Estado</option>
                                 <option value="ACTIVO">ACTIVO</option>
                                 <option value="INACTIVO">INACTIVO</option>
                              </select>
                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-comment"></i>
                                 </span>
                              </div>

                              <input
                                 [(ngModel)]="listadoMiCategorias"
                                 type="text"
                                 class="form-control"
                                 id="last_name"
                                 disabled="true"
                                 placeholder="Debes asociarle una categoria"
                              />
                           </div>
                        </div>
                     </div>
                  </div>


                  <div class="row mt-3">
                     <div class="col-4"></div>

                     <div class="col-4">
                        <button
                           *ngIf="!crearAnuncio.producto_codigo"
                           type="button"
                           class="btn btn-lg btn-block btn-success"
                           (click)=" mensajeAlertas()"
                           [disabled]="
                              crearAnuncio.producto_nombre === '' || crearAnuncio.producto_nombre === null ||
                              crearAnuncio.producto_descripcion === '' || crearAnuncio.producto_descripcion === null ||
                              crearAnuncio.producto_precioantes === '' ||  crearAnuncio.producto_precioantes === null
                           ">

                           REGISTRAR
                        </button>

                        <button
                           *ngIf="crearAnuncio.producto_codigo"
                           type="button"
                           class="btn btn-lg btn-block btn-success"
                           (click)=" mensajeAlertasUpdate()"
                           [disabled]="
                              crearAnuncio.producto_nombre === '' || crearAnuncio.producto_nombre === null ||
                              crearAnuncio.producto_descripcion === '' || crearAnuncio.producto_descripcion === null ||
                              crearAnuncio.producto_precioantes === '' ||  crearAnuncio.producto_precioantes === null
                           ">

                           ACTUALIZAR
                        </button>
                     </div>

                     <div class="col-4"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
