@import url('https://fonts.googleapis.com/css?family=Alice&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap&subset=latin-ext');

.contenedor {
   .contenedor_info {
      background-color: white;

      .titulo_logo {
         font-size: 25px;
         text-align: center;
         color: orange;
         font-family: 'Bree Serif', serif;


      }
   }

   .logo_principal {
      width: 90px;
      padding: 1px;

   }

   .div_video {
      background-color: grey;
      padding: 3%;
      border: green solid 1px;

   }

   .div_conten_beneficio {

      .titulo_beneficio {
         color: #FF965C;
         font-size: 25px;
         font-family: 'Bree Serif', serif;

      }

   }

}

.contenedor_formulario {
   padding: 0 20px 20px 20px;
   //  border-left: 100px solid #428bca;
   //  border-top: 50px solid #f0ad4e;
   //  border-bottom: 50px solid #d9534f;
   .formulario {
      color: white;
      font-family: 'Bree Serif', serif;

   }

   .formulario {
      text-align: center;
      font-size: 25px;
   }

   .conten_form {
      text-align: center;
   }

   .boton_captar {
      background-color: white;
      color: #4bb5ab;
      padding-top: 5px;
   }
}

.titulo_acceder {
   font-size: 17px;
   font-family: 'Alice', serif;
   opacity: 0.5;
   font-weight: bold;

}

.titulo_dobleu {
   font-size: 17px;
   font-family: 'Alice', serif;
   font-weight: bold;
   opacity: 0.5;
}

.titulo_gestionar {
   font-size: 17px;
   font-family: 'Alice', serif;
   font-weight: bold;
   opacity: 0.5;
}

.titulo_clientes {
   font-size: 17px;
   font-family: 'Alice', serif;
   font-weight: bold;
   opacity: 0.5;
}

.acepto_terminos {
   font-family: 'Bree Serif', serif;
   opacity: 0.6;

}

.mostrar_img_perfil {
   height: 150px;
}
