<div class="contenedor text-aling-center">

   <div class="col-12">
      <div class="row">
         <div class="col-12 col-lg-12">
            <div class="contenedor_formulario">
               <div class="row mb-4 px-3">
                  <div class="col-3 text-right d-flex align-items-center justify-content-start">
                     <button class="btn btn-sm btn-secondary" routerLink="/listar-sucursales">
                        <i class="fa fa-arrow-left mr-1"></i>
                        VOLVER
                     </button>
                  </div>

                  <div class="col-6">
                     <p class="titulo_logo text-center mb-0" *ngIf="sucursalData.sucursal_codigo">
                        Actualizar datos de esta sucursal
                     </p>

                     <p class="titulo_logo text-center mb-0" *ngIf="!sucursalData.sucursal_codigo">
                        Datos de la nueva sucursal
                     </p>
                  </div>

                  <div class="col-3"></div>
               </div>


               <div class="text-center">
                  <input
                     type="file"
                     id="upload-avatar"
                     (change)="subirFotos($event)"
                     accept=".png, .jpg, .jpeg"
                     style="display: none"
                  />


                  <div class="my-4 d-flex justify-content-center align-items-center flex-column">
                     <img
                        *ngIf="sucursalData.sucursal_imagen"
                        class="mostrar_img_perfil cursor-pointer"
                        [src]="sucursalData.sucursal_imagen"
                        alt=""
                        (click)="uploadAvatar()"
                        title="Da click para cambiar la imagen del anuncio"
                     />

                     <p class="m-0" (click)="uploadAvatar()" *ngIf="!sucursalData.sucursal_imagen">
                        <i class="fa fa-image cursor-pointer" style="font-size: 50px; color: #495057;"></i>
                     </p>

                     <small class="text-muted cursor-pointer mt-1" (click)="uploadAvatar()">Da click para cambiar la imagen del anuncio</small>
                  </div>


                  <!--
                  <div>
                     <img *ngIf="sucursalData.sucursal_imagen" class="mostrar_img_perfil" src="{{sucursalData.sucursal_imagen}}" alt=""/>

                     <br/>

                     <p (click)="uploadAvatar()" title="Cambiar imagen de perfil">
                        <i class="fa fa-image cursor-pointer mb-3" style="font-size: 50px; color: #495057;"></i>
                     </p>
                  </div>
                  -->

               </div>


               <div class="text-center">

               </div>


               <div class="conten_form">

                  <div class="row">
                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user"></i>
                                            </span>
                              </div>

                              <input [(ngModel)]="sucursalData.sucursal_nombre" type="text"
                                     class="form-control" placeholder="Nombre de la sucursal o punto de venta"/>
                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-comment"></i>
                                            </span>
                              </div>

                              <input [(ngModel)]="sucursalData.sucursal_descriptcion" type="text"
                                     class="form-control" placeholder="Slogan / Descripción"/>
                           </div>
                        </div>
                     </div>
                  </div>


                  <div class="row">

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">

                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-users"></i>
                                            </span>
                              </div>

                              <input [(ngModel)]="sucursalData.sucursal_usuario" type="text"
                                     class="form-control" placeholder="Usuario"/>
                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-key"></i>
                                            </span>
                              </div>

                              <input [(ngModel)]="sucursalData.sucursal_clave" type="password"
                                     class="form-control" placeholder="Clave mínimo 7 caracteres"/>
                           </div>
                        </div>
                     </div>


                  </div>

                  <div class="row">
                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-phone"></i>
                                            </span>
                              </div>

                              <input [(ngModel)]="sucursalData.sucursal_telefono" type="text"
                                     class="form-control" placeholder="Celular o teléfono"/>
                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-map-marker"></i>
                                            </span>
                              </div>

                              <input [(ngModel)]="sucursalData.sucursal_ubicacion" type="text"
                                     class="form-control" placeholder="Ubicación"/>
                           </div>
                        </div>
                     </div>
                  </div>


                  <div class="row">


                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">

                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-bell"></i>
                                            </span>
                              </div>

                              <input [(ngModel)]="sucursalData.sucursal_apertura" type="text"
                                     class="form-control" id="last_name" placeholder="Hora apertura"/>
                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-bell-slash"></i>
                                            </span>
                              </div>

                              <input [(ngModel)]="sucursalData.sucursal_cierre" type="text"
                                     class="form-control" placeholder="Hora cierre"/>
                           </div>
                        </div>
                     </div>


                  </div>

                  <div class="row">
                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">

                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-toggle-on"></i>
                                            </span>
                              </div>

                              <select [(ngModel)]="sucursalData.sucursal_estado" class="custom-select">
                                 <option value=''>Seleccione el estado</option>
                                 <option value="ACTIVO">ACTIVO</option>
                                 <option value="INACTIVO">INACTIVO</option>

                              </select>

                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">

                           <div class="input-group">
                              <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-toggle-on"></i>
                                            </span>
                              </div>

                              <select [(ngModel)]="sucursalData.categoria_codigo" class="custom-select">
                                 <option value=''>Seleccione una categoría</option>
                                 <option *ngFor="let miscate of listadoMiCategorias "
                                         value="{{ miscate['categoria_codigo'] }}">
                                    {{ miscate['categoria_nombre'] }}</option>


                              </select>

                           </div>
                        </div>
                     </div>

                  </div>


                  <div class="row mt-3">
                     <div class="col-4"></div>

                     <div class="col-4">
                        <button
                           *ngIf="sucursalData.sucursal_codigo"
                           type="button"
                           (click)="mensajeAlertasUpdate()"
                           [disabled]="
                              sucursalData.sucursal_nombre === '' || sucursalData.sucursal_nombre === null ||
                              sucursalData.sucursal_descriptcion === '' || sucursalData.sucursal_descriptcion === null ||
                              sucursalData.sucursal_usuario === '' || sucursalData.sucursal_usuario === null ||
                              sucursalData.sucursal_clave === '' || sucursalData.sucursal_clave === null ||
                              sucursalData.sucursal_telefono === '' || sucursalData.sucursal_telefono === null ||
                              sucursalData.sucursal_ubicacion === '' || sucursalData.sucursal_ubicacion === null ||
                              sucursalData.sucursal_apertura === '' || sucursalData.sucursal_apertura === null ||
                              sucursalData.sucursal_cierre === '' || sucursalData.sucursal_cierre === null ||
                              sucursalData.sucursal_estado === '' || sucursalData.sucursal_estado === null
                           "
                           class="btn btn-lg btn-block btn-success">

                           ACTUALIZAR
                        </button>

                        <button
                           *ngIf="!sucursalData.sucursal_codigo"
                           type="button"
                           (click)="mensajeAlertas()"
                           [disabled]="
                              sucursalData.sucursal_nombre === '' || sucursalData.sucursal_nombre === null ||
                              sucursalData.sucursal_descriptcion === '' || sucursalData.sucursal_descriptcion === null ||
                              sucursalData.sucursal_usuario === '' || sucursalData.sucursal_usuario === null ||
                              sucursalData.sucursal_clave === '' || sucursalData.sucursal_clave === null ||
                              sucursalData.sucursal_telefono === '' || sucursalData.sucursal_telefono === null ||
                              sucursalData.sucursal_ubicacion === '' || sucursalData.sucursal_ubicacion === null ||
                              sucursalData.sucursal_apertura === '' || sucursalData.sucursal_apertura === null ||
                              sucursalData.sucursal_cierre === '' || sucursalData.sucursal_cierre === null ||
                              sucursalData.sucursal_estado === '' || sucursalData.sucursal_estado === null
                           "
                           class="btn btn-lg btn-block btn-success">

                           REGISTRAR
                        </button>
                     </div>

                     <div class="col-4"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
