<div class="contenedor text-aling-center">
   <div class="col-12">
      <div class="row">
         <div class="col-12 col-lg-12">
            <div class="contenedor_formulario">
               <p class="titulo_logo">
                  Actualizar Usuario!
               </p>

               <div class="text-center">
                

                  <input type="file" id="upload-avatar" (change)="subirFotos($event)" accept=".png, .jpg, .jpeg" style="display: none" >

                  <div>
                        <img *ngIf="usuario.usuario_imagen"  class="mostrar_img_perfil" src="{{usuario.usuario_imagen}}"/>
                        <br/>
                        <p class="small lead" (click)="uploadAvatar()" title="Cambiar imagen de perfil">
                           <i class="fa fa-upload cursor-pointer" style="font-size: 20px; color: #495057; padding: 10px 0 20px 0;"></i>
                        </p>
                        <hr>
                  </div>
               </div>

               <div class="conten_form">
                  <div class="row">
                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                 </span>
                              </div>

                              <input [(ngModel)]="usuario.usuario_nombre" type="text" class="form-control" placeholder="Nombre Empresa"/>
                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-comment"></i>
                                 </span>
                              </div>

                              <input [(ngModel)]="usuario.usuario_alias" type="text" class="form-control" id="last_name" placeholder="Correo electronico"/>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-users"></i>
                                 </span>
                              </div>

                              <input [(ngModel)]="usuario.usuario_email" disabled="true" type="text" class="form-control" id="last_name" placeholder="Usuario"/>
                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-phone"></i>
                                 </span>
                              </div>

                              <input [(ngModel)]="usuario.usuario_celular" type="text" class="form-control" placeholder="Celular / Telefono"/>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-key"></i>
                                 </span>
                              </div>

                              <ng-multiselect-dropdown-angular7
                                 [placeholder]="'Seleccione una o varias Categoria'"
                                 [required]="'Campo obligatorio'"
                                 [data]="dropdownList"
                                 [(ngModel)]="selectedItems"
                                 [settings]="dropdownSettings"
                                 (onSelect)="onItemSelect($event)"
                                 (onSelectAll)="onSelectAll($event)"
                                 style="width: calc(100% - 45px);">
                              </ng-multiselect-dropdown-angular7>
                           </div>
                        </div>
                     </div>

                     <div class="col-12 col-lg-6 mb-0">
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text">
                                    <i class="fa fa-map-marker"></i>
                                 </span>
                              </div>

                              <input [(ngModel)]="usuario.usuario_direccion" type="text" class="form-control" placeholder="Ubicacion"/>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="form-group mt-3">
                     <div class="col-lg-offset-2 col-lg-12">
                        <button
                           type="button"
                           class="btn btn-lg btn-orange"
                           (click)="mensajeAlertasUpdate()"
                           [disabled]="
                              usuario.usuario_alias      === ''   || usuario.usuario_alias   === null ||
                              usuario.usuario_celular    === ''   || usuario.usuario_celular === null ||
                              usuario.usuario_direccion  === null ||
                              usuario.usuario_email      === ''   ||  usuario.usuario_email  === null ||
                              usuario.usuario_nombre     === ''   ||  usuario.usuario_nombre === null
                           ">

                           ACTUALIZAR
                        </button>

                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
