
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  

  #normal {
    color: white;
    background-color: #FF965C;
  }
  #facebook {
    color: white;
    background-color: #3b5998;

  }
  #google {
    color: white;
    background-color: #ea4335;

  }

  #container_or {
    display: flex;
    justify-content: center;
 
 
    hr {
       height: 1px;
       border-width: 0;
       box-sizing: content-box;
       border-bottom: 1px solid #d4d3d7;
       position: absolute;
       width: 50%;
       left: 25%;
    }
 
    span {
       position: relative;
       padding: 0 5px;
       background-color: white;
       color: #989aa2;
    }
 }