<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Iniciar Sesiòn</h5>

                    <div class="form-label-group">
                        <input type="email" id="inputEmail" [(ngModel)]="usuario.usuario_email"  class="form-control"
                         placeholder="Email / Usuario" required autofocus>
                    </div>

                    <div class="form-label-group">
                        <input type="password"   [(ngModel)]="usuario.usuario_clave" id="inputPassword" class="form-control" 
                        placeholder="Contraseña" required>
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Recordar clave</label>
                    </div>

                    <button id="normal" (click)="usuarioLogin()"  class="btn btn-lg  btn-block text-uppercase" type="submit">
                        Iniciar Sesiòn
                    </button>

                    <div class="row">
                        <div id="container_or" class="col-12 col-lg-12 mb-0">
                            <hr />
                            <span class="ion-text-center ion-no-margin">O</span>
                        </div>
                    </div>

                    <div class="col-12 col-lg-12 mb-0">
                        <div class="row">

                            <div class="col-6 col-lg-6 mb-0">
                                <button id="facebook" class="btn btn-lg btn-facebook btn-block text-uppercase"
                                    type="submit"  (click)="signInFacebook()" ><i class="fa fa-facebook"></i> Facebook</button>
                            </div>

                            <div class="col-6 col-lg-6 mb-0">
                                <button id="google" class="btn btn-lg btn-google btn-block text-uppercase"
                                    type="submit" (click)="signInGoogle()" ><i class="fa fa-google"></i> Google</button>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div id="container_or" class="col-12 col-lg-12 mb-0">
                            <br />
                            <a href="">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>