<div class="row">
   <div class="col-12">
      <div class="bd-example">
         <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
               <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
               <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
               <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
               <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
               <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
               <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
            </ol>

            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img src="/assets/home/bar_slider.png" class="d-block w-100" alt="...">

                  <div id="bar" class="carousel-caption d-none d-md-block">
                     <h2>También hay Descuentos en bares y discotecas</h2>
                  </div>
               </div>

               <div class="carousel-item">
                  <img src="/assets/home/comida_slider.png" class="d-block w-100" alt="...">

                  <div id="comida" class="carousel-caption d-none d-md-block">
                     <h2>Todos tipo de restaurantes y comidas rápidas</h2>
                  </div>
               </div>

               <div class="carousel-item">
                  <img src="/assets/home/deportes_slider.png" class="d-block w-100" alt="...">

                  <div id="deportes" class="carousel-caption d-none d-md-block">
                     <h2>
                        Tiendas y
                        <br />
                        establecimientos
                        <br />
                        con actividad física y
                        <br />
                        los mejores descuentos
                     </h2>
                  </div>
               </div>

               <div class="carousel-item">
                  <img src="/assets/home/educacion_slider.png" class="d-block w-100" alt="...">

                  <div id="educacion" class="carousel-caption d-none d-md-block">
                     <h2>Textos y educación a precios increíbles!</h2>
                  </div>
               </div>

               <div class="carousel-item">
                  <img src="/assets/home/hogar_slider.png" class="d-block w-100" alt="...">

                  <div id="hogar" class="carousel-caption d-none d-md-block">
                     <h1>Con Dobleu tu hogar te lo agradecerá</h1>
                  </div>
               </div>

               <div class="carousel-item">
                  <img src="/assets/home/moda_slider.png" class="d-block w-100" alt="...">

                  <div id="moda" class="carousel-caption d-none d-md-block">
                     <h2>Marcas destacadas y con el mejor estilo ahora en Dobleu</h2>
                  </div>
               </div>

               <div class="carousel-item">
                  <img src="/assets/home/salud_slider.png" class="d-block w-100" alt="...">

                  <div id="salud" class="carousel-caption d-none d-md-block">
                     <h1>
                        Salud y belleza
                        <br />
                        para consentirte
                     </h1>
                  </div>
               </div>

               <div class="carousel-item">
                  <img src="/assets/home/viajes_slider.png" class="d-block w-100" alt="...">

                  <div id="viajes" class="carousel-caption d-none d-md-block">
                     <h2>Los mejores planes turísticos y centros recreativos</h2>
                  </div>
               </div>
            </div>

            <!--
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
            </a>
            -->
         </div>
      </div>
   </div>
</div>


<div class="row mt-5">
   <div class="col-12 col-lg-4 text-center">
      <div class="px-5">
         <img src="/assets/home/product.svg" alt="" class="img-fluid">
      </div>

      <h4 class="p-4 m-0">
         Encuentra los mejores productos y marcas
      </h4>
   </div>

   <div class="col-12 col-lg-4 text-center">
      <div class="px-5">
         <img src="/assets/home/game.svg" alt="" class="img-fluid">
      </div>

      <h4 class="p-4 m-0">
         Juega, diviértete con tu conocimiento y adquiera descuentos
      </h4>
   </div>

   <div class="col-12 col-lg-4 text-center">
      <div class="px-5">
         <img src="/assets/home/enterprise.svg" alt="" class="img-fluid">
      </div>

      <h4 class="p-4 m-0">
         ¿Eres empresario?
         <br />
         No esperes más para unirte a publicitar tus productos
      </h4>
   </div>
</div>
