#bar {
   position: absolute;
   left: 0;
   width: 50%;
   top: 0;
   height: 100%;
   display: flex !important;
   justify-content: center;
   align-items: center;
   padding: 0 70px 0 40px;
   color: #424040;
}

#comida {
   position: absolute;
   left: 0;
   width: 50%;
   top: 0;
   height: 100%;
   display: flex !important;
   justify-content: center;
   align-items: center;
   padding: 0 40px;
   color: #fffff9;
}

#deportes {
   position: absolute;
   text-align: right;
   left: 50%;
   width: 50%;
   top: 0;
   height: 100%;
   display: flex !important;
   justify-content: flex-end;
   align-items: center;
   padding: 0 40px 0 0;
}

#educacion {
   position: absolute;
   left: 50%;
   width: 50%;
   top: 0;
   height: 100%;
   display: flex !important;
   justify-content: center;
   align-items: center;
   padding: 0 40px;
   color: #fffff9;
}

#hogar {
   position: absolute;
   left: 40%;
   width: 50%;
   top: 15%;
   height: 100%;
   display: flex !important;
   justify-content: center;
   padding: 0 40px;
   color: #fffff9;
}

#moda {
   position: absolute;
   left: 60%;
   width: 40%;
   top: 0;
   height: 100%;
   display: flex !important;
   justify-content: center;
   align-items: center;
   padding: 0 40px;
   color: #424040;
}

#salud {
   position: absolute;
   left: 42%;
   width: 50%;
   top: 0;
   height: 100%;
   display: flex !important;
   justify-content: center;
   align-items: flex-end;
   padding: 0 40px 65px 40px;
   color: #eb6e00;
}

#viajes {
   position: absolute;
   left: 38%;
   width: 60%;
   top: 0;
   height: 100%;
   display: flex !important;
   justify-content: center;
   align-items: center;
   padding: 0 40px;
   color: #424040;
}


.img-fluid {
   height: 150px;
}
