.facebook {
    width: 60px;
    margin-bottom: 30px;
    padding: 10px;
}
.google {
    width: 60px;
    margin-bottom: 30px;
    padding: 10px;
}
.tweeter {
    width: 60px;
    margin-bottom: 30px;
    padding: 10px;
}
.instagram{
    width: 60px;
    margin-bottom: 30px;
    padding: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Alice&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap&subset=latin-ext');
.contenedor{
   
    .div_conten_beneficio {

        .titulo_beneficio{
            color: #FF965C;
            font-size: 25px; 
            font-family: 'Bree Serif', serif;

        }
        
    }
    
}

.contenedor_formulario{
    background-color: white;
    padding: 20px; 
    .formulario{
        color: white;
        font-family: 'Bree Serif', serif;

    }

    .formulario{
        text-align: center;
        font-size: 25px;
    }
    .conten_form{
        text-align: center;
    }
}
.textoasunto{
    width: 100%;
}
.titulo_acceder  {
    font-size: 17px;
    font-family: 'Alice', serif;
    opacity: 0.5;
    font-weight: bold;

}
.titulo_dobleu{
    font-size: 17px;
    font-family: 'Alice', serif;
    font-weight: bold;
    opacity: 0.5;
} 
.titulo_gestionar{
    font-size: 17px;
    font-family: 'Alice', serif;
    font-weight: bold;
    opacity: 0.5;
} 
.titulo_clientes{
    font-size: 17px;
    font-family: 'Alice', serif;
    font-weight: bold;
    opacity: 0.5;
}
.acepto_terminos {
    font-family: 'Bree Serif', serif;
    opacity: 0.6;
}
.boton_captar {
    background-color: #3ad0bf;
}