<div class="contenedor text-aling-center">

    <div class="col-12">
        <div class="row">


            <div class="col-12 col-lg-10">
                <div class="contenedor_formulario">
                    <p class="formulario">
                        Contactano
                    </p>

                    <div class="conten_form">

                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-comment"></i>
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="contactos.contacto_titulo" class="form-control"
                                        id="asunto" placeholder="Asunto.">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-envelope-square"></i>
                                        </span>
                                    </div>
                                    <input type="email" [(ngModel)]="contactos.contacto_email" class="form-control"
                                        id="correo" placeholder="Correo electronico">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">

                                <textarea [(ngModel)]="contactos.contacto_contenido" class="textoasunto" rows="4"
                                    cols="50">

                                    </textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-12">
                                    <button type="button" class="btn btn-lg  boton_captar"
                                        (click)="mensajeEnviarCorreo()"
                                        [disabled]="
                                                contactos.contacto_contenido === '' || contactos.contacto_contenido === null ||
                                                contactos.contacto_email === '' || contactos.contacto_email === null || 
                                                contactos.contacto_asunto === '' || contactos.contacto_asunto === null ">ENVIAR</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <div class="col-12 col-lg-2">


                <div class="container">
                    <div class="list-group">

                        <p class="list-group-item-text">
                            <a href="https://www.facebook.com/woid.empresa.7/photos?lst=100003471478376%3A100015673607113%3A1572900087"
                                target="_blank">
                                <img src="../../assets/iconos/f.png" class="facebook">
                            </a>

                        </p>


                        <p class="list-group-item-text">
                            <a href="" target="_blank">
                                <img src="../../assets/iconos/g.png" class="google">
                            </a>
                        </p>


                        <p class="list-group-item-text">
                            <a href="https://twitter.com/DOBLEU71240449" target="_blank">
                                <img src="../../assets/iconos/t.png" class="tweeter">
                            </a>
                        </p>

                        <p class="list-group-item-text"><img src="" class="">
                            <a href="https://instagram.com/dobleu.woid?igshid=194pjid7amxjx" target="_blank">
                                <img src="../../assets/iconos/i.png" class="instagram">
                            </a>

                        </p>

                    </div>
                </div>


            </div>




        </div>
    </div>
</div>