<div class="contenedor text-aling-center">
   <div class="col-12">
      <div class="row">
         <div class="col-12 col-lg-12">
            <div class="contenedor_formulario">

               <!--
               <a routerLink="/anuncio"  *ngIf="local.usuario_tipo === 'Sucursal'">
                  <p class="titulo_logo">
                     Crear anuncios
                  </p>
               </a>

               <p class="titulo_logo" *ngIf="local.usuario_tipo === 'Empresa'">
                  Listado de Anuncios
               </p>
               -->


               <div class="row mb-4 px-3">
                  <div class="col-4"></div>

                  <div class="col-4">
                     <p class="titulo_logo text-center m-0">
                        Listado de anuncios
                     </p>
                  </div>

                  <div class="col-4 text-right d-flex align-items-center justify-content-end">
                     <button class="btn btn-sm btn-primary" routerLink="/anuncio" *ngIf="local.usuario_tipo === 'Sucursal'">
                        <i class="fa fa-plus mr-1"></i>
                        CREAR ANUNCIO
                     </button>
                  </div>
               </div>


               <div class="conten_form">
                  <div class="table-responsive-sm">
                     <table class="table table-hover">
                        <thead>
                           <th class="text-left">Anuncio</th>
                           <th class="text-left">Estado</th>
                           <th class="text-right">Valor</th>
                           <th class="text-right">Descuento</th>
                           <th class="text-center" width="180" *ngIf="local.usuario_tipo === 'Sucursal'">Acción</th>
                        </thead>

                        <tbody *ngFor="let anuncio of listarAnuncio">
                           <td class="text-left">{{ anuncio.producto_nombre }} </td>
                           <td class="text-left">{{ anuncio.producto_activo }} </td>
                           <td class="text-right">{{ anuncio.producto_precioahora | currency }} </td>
                           <td class="text-right">{{ anuncio.producto_descuento ? anuncio.producto_descuento : 0 }}%</td>

                           <!--
                           <td class="text-center">
                              <button *ngIf="local.usuario_tipo == 'Empresa'"  disabled ="true" class="crear_sucursal" routerLink="/anuncio" title="Solo las sucursales pueden crear anuncios">
                                 <i class="fa fa-user"></i>
                              </button>

                              <button *ngIf="local.usuario_tipo == 'Sucursal'" class="crear_sucursal" routerLink="/anuncio" title="Click para crear anuncio nuevo">
                                 <i class="fa fa-user"></i>
                              </button>

                              <button class="editar_sucursal" routerLink="/anuncio/{{anuncio.producto_codigo}}" title="Click para editar anuncio">
                                 <i class="fa fa-edit"></i>
                              </button>
                           </td>
                           -->

                           <td width="180" *ngIf="local.usuario_tipo === 'Sucursal'">
                              <div class="row">
                                 <div class="col-6 pr-1">
                                    <button class="btn btn-danger btn-block btn-sm" title="Eliminar sucursal">
                                       <i class="fa fa-trash"></i>
                                    </button>
                                 </div>

                                 <div class="col-6 pl-1">
                                    <button class="btn btn-info btn-block btn-sm" title="Editar anuncio" routerLink="/anuncio/{{ anuncio.producto_codigo }}">
                                       <i class="fa fa-edit"></i>
                                    </button>
                                 </div>
                              </div>
                           </td>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
