/* You can add global styles to this file, and also import other style files */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap&subset=latin-ext');



.cursor-pointer {
   cursor: pointer !important;
}


.global-title-style {
   font-size: 50px;
   background: -webkit-linear-gradient(90deg, #4bb5ab 25%, #FF965C 50%, #28a7ef 75%);
   background: -o-linear-gradient(90deg, #4bb5ab 25%, #FF965C 50%, #28a7ef 75%);
   background: -moz-linear-gradient(90deg, #4bb5ab 25%, #FF965C 50%, #28a7ef 75%);
   background: linear-gradient(90deg, #4bb5ab 25%, #FF965C 50%, #28a7ef 75%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-family: "Great Vibes", cursive;
}


.form-group .input-group .input-group-prepend .input-group-text {
   width: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
}


ng-multiselect-dropdown-angular7 {
   .dropdown-btn {
      background-color: #FFFFFF;

      span {
         color: #6c757d;
      }
   }
}


.titulo_logo {
   font-size: 25px;
   text-align: center;
   color: orange;
   font-family: 'Bree Serif', serif;
}


.btn-orange {
   background-color: #fb8126;
   color: #FFFFFF;
}
